.git
.env
deploy/staging/.env.staging
node_modules
vendor
!public/vendor
!public/vendor/**
storage/app/.installed
storage/app/database.ini
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
storage/logs/**
