; Merge these values into the Contentify PHP-FPM pool.
catch_workers_output = yes
decorate_workers_output = no
php_admin_flag[log_errors] = on
php_admin_flag[display_errors] = off
php_admin_value[error_reporting] = E_ALL
php_admin_value[error_log] = /var/log/contentify/php-error.log
