APP_NAME=Contentify
APP_ENV=staging
APP_KEY=base64:GENERATE_A_REAL_KEY
APP_DEBUG=false
APP_URL=http://staging.example.test
CONTENTIFY_BUILD_VERSION=0.15.3

LOG_CHANNEL=stack
LOG_LEVEL=debug
LOG_DAYS=30
CONTENTIFY_LOG_ROOT=/var/log/contentify

DB_CONNECTION=mysql
DB_HOST=database
DB_PORT=3306
DB_DATABASE=contentify
DB_USERNAME=contentify
DB_PASSWORD=GENERATE_A_REAL_PASSWORD
DB_ROOT_PASSWORD=GENERATE_A_DIFFERENT_PASSWORD

ADMIN_EMAIL=admin@example.test
ADMIN_USERNAME=admin
ADMIN_PASSWORD=SET_A_REAL_PASSWORD

CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_SERIALIZATION=php
QUEUE_CONNECTION=sync
